.ripple-parent {
    position: relative;
    overflow: hidden;
    top: 2rem;
    padding-left: 3rem;
  }.ripple-parent {
    position: relative;
    overflow: hidden;
    top: 2rem;
  }

  .sinulinn{
    color:black;
  }
  